Package: com.jamesuriah.calendar-x
Name: Calendar X
Depends: firmware (>= 5.0), com.saurik.substrate.safemode
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome widget for the notification center!
Maintainer: James Daniels
Author: James Daniels
Section: Addons (NotificationCenter)
